/*background anmimation*/

* {
	-webkit-font-smoothing: antialiased;
	 text-rendering: optimizeLegibility;
	 font-family: "Helvetica Neue", Helvetiva, Arial, sans-serif;

}

h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue", Helvetiva, Arial, sans-serif;
	font-weight: 300;

}

.navbar-brand {
	width: 100%;
	height: 100%;
}

.navbar-brand img {
	height: 45px;
	padding-left: 15px;
}

@media(max-width: 414px){
	.navbar-brand img {
		height: 30px;
	}

	.navbar-brand {
		width: 60%;
	}
}

ul.nav.navbar-nav li{
	font-size: 14px;
	top: 15px;
}

.bg {
	/*Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(left, #a763c1, #2f6af2, #848c9d);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(left, #a763c1, #2f8af2);

	/* IE 10 */
	background: -ms-linear-gradient(left, #a763c1, #2f8af2);

	/* Opera 11.10+ */
	background: -o-linear-gradient(left, #a763c1, #2f8af2);

  width: 100%;
  height: 87vh;
  background-size: cover;
  background-blend-mode: hard-light;
  -webkit-animation: hue-animate 30s linear infinite;
          animation: hue-animate 30s linear infinite;
}

@-webkit-keyframes hue-animate {
  from {
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes hue-animate {
  from {
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

.main-header .main-heading {
font-family: 'Dosis', sans-serif;
font-weight: 200;
}

.main-header .main-heading h1 {
	margin: 0;
  font-size:80px;
}

.main-header .main-heading h3 {
  font-size:50px;
}

#name {
/*  position: relative;
    top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);*/
  /*transform: translateY(-50%);*/
  font-family: 'Open Sans Condensed', sans-serif;
  text-align:center;
  font-size: 68px;
  text-transform: uppercase;
}

.navbar-toggle{
	backround: transparent;
}

.tag-line{
  text-align: center;
}

/* submit styles*/

input {
  font-weight: 100;
}

.subscribe {
  position: relative;
  padding: 0;
  height: 70px;
  /*background-color: rgba(0, 0, 0, .6);*/
  -webkit-transition: -webkit-transform .5s;
  transition: transform .5s;
  width:50%;
  margin:0 auto;
  top:50px;
  border-bottom:1px solid white;
}

.ready .subscribe {
  -webkit-transform: none;
  transform: none;
}

.subscribe-email {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 28px;
  color: white;
}

.subscribe-email::-webkit-input-placeholder {
  color: #cecece;
  -webkit-transition: opacity .5s, -webkit-transform .5s;
  transition: opacity .5s, transform .5s;
  color:white;
}

.subscribe-email::-moz-placeholder {
  color: #cecece;
  -moz-transition: opacity .5s, -webkit-transform .5s;
  color:white;
}

.subscribe-email:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transform: translate3d(20%, 0, 0) scale(1.5);
  transform: translate3d(20%, 0, 0) scale(1.5);

}

.subscribe-email:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transform: translate3d(20%, 0, 0) scale(1.5);
  transform: translate3d(20%, 0, 0) scale(1.5);
}

.subscribe-submit {
  position: absolute;
  border: none;
  top: 10px;
  right: 10px;
  bottom: 10px;
  padding: 0;
  width: 140px;
  background: #45bb2f;
  font-family: Poppins, sans-serif;
  font-size: 28px;
  font-weight: 100;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;

}

input[type=submit].subscribe-submit {
  display:none;
  transition:none;
}

input[type=submit] {
  margin:0;
  background-color: transparent;
  border:none;
  color:white;
  font-weight:400;
}

input[type=submit]:hover {
  background-color: transparent;
  border:none;

}

input[type=submit]:focus {
  background-color: transparent;
  border:none;

}

input:not([type]), input[type=password], input[type=color], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=number], input[type=search], input[type=tel], input[type=time], input[type=url], input[type=week], input[type=text], input[type=email], textarea {
    border: none;
    background: none;
    padding: .618em 1em;
    font-family: "Helvetice Neue",sans-serif;
    box-shadow: none;
    min-height: 40px;
    width: 70%;
}
.subscribe-email:focus ~ .subscribe-submit {
  -webkit-transform: none;
  transform: none;
}

#navtop form.subscribe input.subscribe-email {
	background: transparent;
	border: none;
}

#navtop form.subscribe input.subscribe-submit {
	/*background: transparent;*/
	border: transparent;
	color: white;
}

#navtop form.subscribe input.subscribe-submit:hover {
	color: white;
}

@-webkit-keyframes magnify {
  10% {
    -webkit-transform: scale(1.15) translateZ(0);
  }

  20% {
    -webkit-transform: none;
  }
}

.secondRow {
  margin-top:80px;
}

.img-responsive.phone {
  max-width: 105%;
  position: absolute;
  top: -25px;
}

.img-responsive.comp {
  max-width: 110%;
  position: absolute;
  top: -32px;
}

section.parallax-bg {
    background-color: #f9f9f9;
    color: black;
}

section.parallax-bg .black-gradient {
  background-color: #f9f9f9;
  color:black !important;
}
section.parallax-bg .black-gradient h1 {
  color:black !important;
}
section.parallax-bg .black-gradient h2 {
  color:black !important;
}
section.parallax-bg .black-gradient h3 {
  color:black !important;
}
section.parallax-bg .black-gradient h4 {
  color:black !important;
}
section.parallax-bg .black-gradient h5 {
  color:black !important;
}
section.parallax-bg .black-gradient h6 {
  color:black !important;
}
section.parallax-bg .black-gradient p {
  color:black !important;
}

.se-section.offer-section.gray-section h4 {
  margin-bottom:25px;
  font-family: "Helvetice Neue", sans-serif;
}

.offer-section {
    padding: 0px;
}

footer {
  padding:0px;
}

footer .footer-bottom {
    border-top: 0px dashed #ececec;
}

/*.body-scrolled .navbar .navbar-nav>li>a:focus {
  color:#2b2c2d;
  background:#fff;
}*/

#navbar .active {
    background: #217dbb;
}

#navbar .active a {
    color:white;
}

input[type=email]:focus {
  border:none;
}

input[type=email]:hover {
  border:none;
}

.se-section.bg.footer {
  height:auto;
  padding:10px 90px 50px 90px;
}


#stars4 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1583px 446px #FFF , 550px 1921px #FFF , 1909px 1157px #FFF , 1136px 770px #FFF , 401px 1814px #FFF , 1934px 287px #FFF , 1046px 279px #FFF , 1692px 822px #FFF , 1554px 1516px #FFF , 1023px 394px #FFF , 594px 1417px #FFF , 659px 688px #FFF , 96px 156px #FFF , 1125px 1358px #FFF , 907px 233px #FFF , 53px 1242px #FFF , 1083px 1302px #FFF , 1677px 1929px #FFF , 477px 1225px #FFF , 1272px 347px #FFF , 752px 1905px #FFF , 1841px 1324px #FFF , 1861px 132px #FFF , 1979px 690px #FFF , 1958px 1901px #FFF , 183px 1926px #FFF , 1357px 1993px #FFF , 1504px 995px #FFF , 618px 1972px #FFF , 204px 8px #FFF , 26px 1980px #FFF , 1919px 1216px #FFF , 1260px 1205px #FFF , 236px 231px #FFF , 1443px 1943px #FFF , 1293px 1506px #FFF , 1048px 1803px #FFF , 608px 1899px #FFF , 204px 616px #FFF , 1310px 1320px #FFF , 666px 28px #FFF , 1277px 360px #FFF , 1662px 505px #FFF , 345px 1044px #FFF , 981px 641px #FFF , 1063px 427px #FFF , 25px 221px #FFF , 1678px 827px #FFF , 1737px 514px #FFF , 1196px 1370px #FFF , 1414px 65px #FFF , 1921px 1290px #FFF , 1910px 988px #FFF , 653px 1049px #FFF , 170px 804px #FFF , 1339px 28px #FFF , 1487px 674px #FFF , 1497px 976px #FFF , 624px 572px #FFF , 489px 110px #FFF , 1232px 1138px #FFF , 310px 170px #FFF , 240px 341px #FFF , 79px 212px #FFF , 1312px 1933px #FFF , 1128px 1830px #FFF , 351px 880px #FFF , 571px 870px #FFF , 438px 925px #FFF , 785px 1552px #FFF , 1914px 937px #FFF , 1605px 881px #FFF , 370px 1178px #FFF , 647px 1115px #FFF , 652px 1164px #FFF , 1214px 494px #FFF , 360px 12px #FFF , 1775px 574px #FFF , 179px 1977px #FFF , 18px 466px #FFF , 320px 1073px #FFF , 51px 124px #FFF , 1363px 927px #FFF , 1911px 552px #FFF , 942px 1489px #FFF , 1271px 1512px #FFF , 403px 1525px #FFF , 1208px 1009px #FFF , 1643px 371px #FFF , 1868px 78px #FFF , 1629px 1553px #FFF , 780px 648px #FFF , 162px 683px #FFF , 358px 321px #FFF , 1596px 948px #FFF , 1999px 39px #FFF , 735px 1373px #FFF , 527px 1799px #FFF , 845px 698px #FFF , 506px 1451px #FFF , 1189px 1525px #FFF , 1236px 389px #FFF , 1003px 191px #FFF , 618px 1230px #FFF , 1644px 850px #FFF , 1512px 1367px #FFF , 1088px 187px #FFF , 1386px 1960px #FFF , 107px 386px #FFF , 1250px 1429px #FFF , 752px 1790px #FFF , 1014px 1463px #FFF , 302px 1349px #FFF , 6px 1220px #FFF , 459px 1498px #FFF , 600px 1126px #FFF , 1621px 1732px #FFF , 1059px 1938px #FFF , 1039px 987px #FFF , 764px 732px #FFF , 960px 181px #FFF , 313px 1885px #FFF , 897px 1798px #FFF , 438px 1072px #FFF , 882px 240px #FFF , 317px 1935px #FFF , 366px 1252px #FFF , 1881px 558px #FFF , 362px 653px #FFF , 1035px 1193px #FFF , 893px 945px #FFF , 897px 1005px #FFF , 1060px 1397px #FFF , 1112px 1026px #FFF , 665px 780px #FFF , 850px 624px #FFF , 1548px 418px #FFF , 433px 255px #FFF , 1888px 336px #FFF , 563px 428px #FFF , 1406px 1026px #FFF , 840px 1772px #FFF , 420px 1475px #FFF , 465px 761px #FFF , 836px 1623px #FFF , 868px 1123px #FFF , 1753px 1168px #FFF , 1838px 1526px #FFF , 1933px 771px #FFF , 1079px 246px #FFF , 925px 1715px #FFF , 388px 760px #FFF , 1044px 1171px #FFF , 1862px 1702px #FFF , 26px 696px #FFF , 352px 231px #FFF , 1723px 29px #FFF , 261px 1484px #FFF , 1180px 475px #FFF , 1424px 655px #FFF , 27px 595px #FFF , 361px 1471px #FFF , 1374px 1453px #FFF , 1973px 1632px #FFF , 1467px 1001px #FFF , 84px 566px #FFF , 115px 623px #FFF , 920px 1821px #FFF , 1437px 1628px #FFF , 1224px 1693px #FFF , 1194px 1713px #FFF , 1283px 1050px #FFF , 1891px 1611px #FFF , 1113px 1176px #FFF , 1069px 859px #FFF , 1959px 244px #FFF , 461px 1741px #FFF , 835px 572px #FFF , 303px 620px #FFF , 1446px 28px #FFF , 50px 1273px #FFF , 1693px 686px #FFF , 81px 892px #FFF , 1919px 413px #FFF , 906px 1352px #FFF , 27px 886px #FFF , 1638px 1398px #FFF , 769px 1109px #FFF , 1612px 1601px #FFF , 903px 816px #FFF , 404px 1130px #FFF , 809px 857px #FFF , 1914px 781px #FFF , 972px 874px #FFF , 1023px 477px #FFF , 1px 1273px #FFF , 443px 739px #FFF , 362px 545px #FFF , 1480px 1871px #FFF , 183px 779px #FFF , 455px 601px #FFF , 824px 1923px #FFF , 369px 355px #FFF , 1109px 1471px #FFF , 1751px 915px #FFF , 700px 225px #FFF , 544px 477px #FFF , 1785px 116px #FFF , 548px 1467px #FFF , 562px 1454px #FFF , 1074px 948px #FFF , 1349px 367px #FFF , 378px 1187px #FFF , 381px 1836px #FFF , 1536px 1882px #FFF , 457px 1861px #FFF , 243px 1315px #FFF , 1008px 1668px #FFF , 285px 1946px #FFF , 1801px 154px #FFF , 362px 1268px #FFF , 913px 1141px #FFF , 868px 1181px #FFF , 1426px 553px #FFF , 243px 723px #FFF , 1397px 505px #FFF , 1200px 1523px #FFF , 1112px 1130px #FFF , 33px 38px #FFF , 1807px 3px #FFF , 442px 1941px #FFF , 618px 1273px #FFF , 356px 1052px #FFF , 1455px 1692px #FFF , 9px 1055px #FFF , 452px 1100px #FFF , 522px 823px #FFF , 1955px 1267px #FFF , 1101px 1378px #FFF , 696px 679px #FFF , 655px 1288px #FFF , 300px 1993px #FFF , 572px 1491px #FFF , 1883px 1085px #FFF , 306px 1249px #FFF , 1924px 1890px #FFF , 382px 1515px #FFF , 1057px 1849px #FFF , 772px 373px #FFF , 1162px 1013px #FFF , 6px 719px #FFF , 109px 1827px #FFF , 1051px 1807px #FFF , 1773px 1808px #FFF , 1172px 383px #FFF , 1380px 222px #FFF , 1721px 1074px #FFF , 644px 144px #FFF , 109px 502px #FFF , 1285px 269px #FFF , 849px 1353px #FFF , 694px 123px #FFF , 1368px 1251px #FFF , 485px 465px #FFF , 202px 626px #FFF , 681px 55px #FFF , 395px 378px #FFF , 55px 1865px #FFF , 1714px 67px #FFF , 1659px 627px #FFF , 228px 103px #FFF , 1084px 305px #FFF , 1326px 1908px #FFF , 1000px 1054px #FFF , 1330px 458px #FFF , 1402px 70px #FFF , 1339px 950px #FFF , 220px 1939px #FFF , 1088px 1482px #FFF , 1619px 1405px #FFF , 1052px 673px #FFF , 1511px 1291px #FFF , 571px 242px #FFF , 757px 1352px #FFF , 638px 1425px #FFF , 1524px 355px #FFF , 1630px 337px #FFF , 1466px 380px #FFF , 1087px 1562px #FFF , 971px 1124px #FFF , 1739px 1659px #FFF , 1169px 1878px #FFF , 162px 142px #FFF , 1763px 1041px #FFF , 1179px 1330px #FFF , 275px 282px #FFF , 1284px 1675px #FFF , 97px 1009px #FFF , 1884px 130px #FFF , 968px 173px #FFF , 1840px 250px #FFF , 1443px 1271px #FFF , 1170px 329px #FFF , 274px 944px #FFF , 1282px 1227px #FFF , 1516px 917px #FFF , 899px 1181px #FFF , 1335px 733px #FFF , 855px 1398px #FFF , 583px 350px #FFF , 1934px 136px #FFF , 739px 913px #FFF , 1556px 247px #FFF , 1517px 942px #FFF , 1150px 738px #FFF , 1910px 206px #FFF , 1197px 45px #FFF , 1914px 1327px #FFF , 940px 362px #FFF , 1414px 136px #FFF , 1491px 1892px #FFF , 315px 1034px #FFF , 445px 533px #FFF , 1898px 1805px #FFF , 109px 1018px #FFF , 855px 737px #FFF , 332px 912px #FFF , 537px 761px #FFF , 465px 1905px #FFF , 1623px 1145px #FFF , 594px 465px #FFF , 1369px 158px #FFF , 1832px 340px #FFF , 84px 1141px #FFF , 1253px 1777px #FFF , 455px 1565px #FFF , 1351px 696px #FFF , 174px 1203px #FFF , 424px 558px #FFF , 1393px 529px #FFF , 397px 1003px #FFF , 1956px 267px #FFF , 331px 1912px #FFF , 196px 477px #FFF , 536px 1433px #FFF , 1987px 745px #FFF , 573px 1818px #FFF , 35px 1469px #FFF , 1790px 1197px #FFF , 624px 1352px #FFF , 279px 1833px #FFF , 9px 97px #FFF , 1720px 1945px #FFF , 643px 450px #FFF , 1866px 1014px #FFF , 172px 88px #FFF , 1457px 906px #FFF , 1251px 111px #FFF , 1685px 1913px #FFF , 402px 1513px #FFF , 45px 155px #FFF , 1943px 305px #FFF , 896px 1058px #FFF , 477px 1084px #FFF , 1997px 1488px #FFF , 1879px 1114px #FFF , 700px 708px #FFF , 1751px 520px #FFF , 442px 1554px #FFF , 401px 1240px #FFF , 185px 1298px #FFF , 470px 1900px #FFF , 249px 1551px #FFF , 42px 830px #FFF , 379px 346px #FFF , 1080px 420px #FFF , 455px 275px #FFF , 959px 1253px #FFF , 281px 1431px #FFF , 1549px 1230px #FFF , 567px 1691px #FFF , 1494px 177px #FFF , 1151px 1868px #FFF , 1840px 1216px #FFF , 1364px 28px #FFF , 121px 782px #FFF , 95px 669px #FFF , 1630px 449px #FFF , 1750px 1151px #FFF , 1952px 1998px #FFF , 1618px 1495px #FFF , 1321px 1458px #FFF , 1592px 602px #FFF , 1614px 681px #FFF , 237px 306px #FFF , 1219px 118px #FFF , 1379px 1033px #FFF , 811px 438px #FFF , 1932px 1407px #FFF , 1245px 1234px #FFF , 1315px 1466px #FFF , 485px 757px #FFF , 830px 423px #FFF , 1966px 263px #FFF , 1896px 802px #FFF , 790px 1954px #FFF , 122px 1577px #FFF , 173px 1733px #FFF , 1179px 906px #FFF , 1101px 1577px #FFF , 440px 643px #FFF , 1280px 567px #FFF , 945px 1047px #FFF , 1762px 241px #FFF , 763px 1646px #FFF , 71px 606px #FFF , 1985px 1849px #FFF , 1750px 1503px #FFF , 181px 1695px #FFF , 579px 916px #FFF , 1082px 1385px #FFF , 649px 935px #FFF , 738px 211px #FFF , 1164px 1306px #FFF , 995px 1648px #FFF , 426px 593px #FFF , 804px 1295px #FFF , 1882px 895px #FFF , 546px 1829px #FFF , 51px 689px #FFF , 249px 510px #FFF , 1744px 1996px #FFF , 749px 1330px #FFF , 54px 1793px #FFF , 148px 1104px #FFF , 62px 963px #FFF , 1233px 533px #FFF , 584px 555px #FFF , 1155px 94px #FFF , 1940px 176px #FFF , 572px 1745px #FFF , 771px 1645px #FFF , 769px 1276px #FFF , 84px 1611px #FFF , 565px 1464px #FFF , 743px 615px #FFF , 1095px 186px #FFF , 27px 631px #FFF , 774px 527px #FFF , 1693px 363px #FFF , 1163px 538px #FFF , 561px 1520px #FFF , 643px 1017px #FFF , 555px 399px #FFF , 1075px 21px #FFF , 1219px 1638px #FFF , 1004px 1554px #FFF , 1003px 58px #FFF , 573px 1058px #FFF , 1443px 177px #FFF , 508px 975px #FFF , 820px 499px #FFF , 1220px 1231px #FFF , 1286px 1994px #FFF , 1998px 513px #FFF , 63px 667px #FFF , 318px 845px #FFF , 438px 799px #FFF , 385px 1087px #FFF , 775px 532px #FFF , 448px 1325px #FFF , 1753px 1250px #FFF , 195px 883px #FFF , 1543px 463px #FFF , 1362px 1231px #FFF , 606px 21px #FFF , 727px 1112px #FFF , 177px 1759px #FFF , 677px 1896px #FFF , 349px 730px #FFF , 1722px 1352px #FFF , 1707px 779px #FFF , 1963px 1591px #FFF , 824px 646px #FFF , 1030px 797px #FFF , 1582px 752px #FFF , 262px 353px #FFF , 791px 1786px #FFF , 895px 1264px #FFF , 607px 1976px #FFF , 1503px 941px #FFF , 268px 1463px #FFF , 1121px 1272px #FFF , 1988px 883px #FFF , 173px 1990px #FFF , 317px 726px #FFF , 297px 214px #FFF , 1204px 786px #FFF , 1684px 1779px #FFF , 184px 1628px #FFF , 1867px 1020px #FFF , 559px 1663px #FFF , 679px 1993px #FFF , 1706px 685px #FFF , 1081px 708px #FFF , 487px 1812px #FFF , 108px 530px #FFF , 412px 1925px #FFF , 1903px 410px #FFF , 866px 1424px #FFF , 1050px 188px #FFF , 628px 961px #FFF , 1454px 1668px #FFF , 1702px 1397px #FFF , 1107px 410px #FFF , 1850px 1482px #FFF , 1580px 1309px #FFF , 243px 848px #FFF , 455px 349px #FFF , 407px 628px #FFF , 56px 714px #FFF , 807px 1930px #FFF , 621px 33px #FFF , 710px 1092px #FFF , 398px 1504px #FFF , 1711px 1515px #FFF , 367px 878px #FFF , 1683px 294px #FFF , 1165px 1547px #FFF , 1230px 1571px #FFF , 1804px 58px #FFF , 1386px 1642px #FFF , 1291px 1489px #FFF , 1880px 1645px #FFF , 139px 1725px #FFF , 812px 1160px #FFF , 1236px 1367px #FFF , 790px 1605px #FFF , 1029px 813px #FFF , 810px 180px #FFF , 1211px 1596px #FFF , 1342px 721px #FFF , 211px 1625px #FFF , 1440px 326px #FFF , 1912px 1282px #FFF , 1824px 660px #FFF , 804px 1088px #FFF , 1625px 711px #FFF , 1472px 269px #FFF , 1523px 210px #FFF , 423px 438px #FFF , 337px 436px #FFF , 797px 1966px #FFF , 1189px 1732px #FFF , 1891px 37px #FFF , 1257px 1069px #FFF , 969px 1821px #FFF , 1876px 2px #FFF , 403px 1895px #FFF , 1511px 239px #FFF , 1428px 559px #FFF , 1975px 953px #FFF , 244px 222px #FFF , 1822px 1603px #FFF , 1946px 635px #FFF , 595px 516px #FFF , 1432px 1304px #FFF , 216px 867px #FFF , 235px 378px #FFF , 700px 615px #FFF , 413px 298px #FFF , 1599px 908px #FFF , 106px 987px #FFF , 527px 382px #FFF , 117px 556px #FFF , 141px 649px #FFF , 1009px 200px #FFF , 549px 535px #FFF , 541px 416px #FFF , 791px 797px #FFF , 1280px 1467px #FFF , 1056px 813px #FFF , 624px 1426px #FFF , 1448px 827px #FFF , 267px 592px #FFF , 364px 963px #FFF , 860px 711px #FFF , 866px 1427px #FFF , 232px 34px #FFF , 113px 1066px #FFF , 1236px 253px #FFF , 1624px 635px #FFF , 1816px 1492px #FFF , 341px 1315px #FFF , 716px 950px #FFF , 493px 855px #FFF , 799px 87px #FFF , 1380px 219px #FFF , 558px 1588px #FFF , 1486px 951px #FFF , 1272px 1982px #FFF , 1133px 1354px #FFF , 24px 1175px #FFF , 1986px 1866px #FFF , 244px 732px #FFF , 864px 1661px #FFF , 661px 578px #FFF , 1402px 1045px #FFF , 1261px 1800px #FFF , 619px 198px #FFF , 1552px 1586px #FFF , 1369px 285px #FFF , 1199px 1366px #FFF , 1488px 401px #FFF , 1176px 1536px #FFF , 326px 1954px #FFF , 1251px 403px #FFF , 58px 1262px #FFF , 1782px 1790px #FFF , 1991px 625px #FFF , 1872px 918px #FFF , 1049px 361px #FFF , 608px 598px #FFF , 1459px 1469px #FFF , 1343px 522px #FFF , 959px 203px #FFF , 203px 1825px #FFF , 531px 660px #FFF , 880px 1353px #FFF , 1265px 1600px #FFF , 1748px 290px #FFF , 1002px 548px #FFF , 1742px 1683px #FFF , 1695px 239px #FFF , 822px 1746px #FFF , 701px 43px #FFF , 1095px 1500px #FFF , 414px 1944px #FFF , 1854px 1561px #FFF , 340px 705px #FFF , 1556px 1893px #FFF , 2px 204px #FFF , 953px 543px #FFF , 839px 284px #FFF , 1513px 82px #FFF , 229px 874px #FFF , 927px 1245px #FFF , 1257px 381px #FFF , 1142px 1607px #FFF , 568px 1076px #FFF , 463px 1208px #FFF , 1274px 1811px #FFF , 1345px 1016px #FFF , 535px 1657px #FFF , 329px 1343px #FFF , 835px 629px #FFF , 619px 205px #FFF , 1551px 1406px #FFF , 416px 358px #FFF , 1801px 1521px #FFF , 862px 1244px #FFF , 853px 209px #FFF , 69px 1867px #FFF , 1695px 1499px #FFF , 1940px 1658px #FFF , 704px 1630px #FFF , 1437px 1042px #FFF , 1045px 74px #FFF , 886px 1422px #FFF , 1145px 705px #FFF , 1506px 972px #FFF , 493px 339px #FFF , 1943px 1907px #FFF , 1448px 44px #FFF , 1997px 185px #FFF , 47px 317px #FFF , 1353px 1551px #FFF , 1578px 18px #FFF , 827px 72px #FFF , 1046px 1049px #FFF , 782px 586px #FFF , 898px 1736px #FFF , 1928px 72px #FFF , 1653px 414px #FFF , 260px 1686px #FFF , 1951px 1957px #FFF , 836px 212px #FFF , 950px 737px #FFF , 1795px 1023px #FFF , 1231px 690px #FFF , 1203px 1974px #FFF , 812px 59px #FFF , 1418px 723px #FFF , 1145px 1969px #FFF , 1587px 1135px #FFF , 183px 721px #FFF , 1327px 727px #FFF , 140px 400px #FFF , 225px 164px #FFF , 1892px 517px #FFF;
  animation: animStar 50s linear infinite;
}

/* line 39, ../sass/stars.scss */
#stars5 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1109px 1250px #FFF , 994px 365px #FFF , 1409px 597px #FFF , 998px 27px #FFF , 728px 1451px #FFF , 1566px 609px #FFF , 1811px 680px #FFF , 733px 437px #FFF , 19px 1566px #FFF , 612px 251px #FFF , 265px 10px #FFF , 3px 1452px #FFF , 50px 121px #FFF , 1498px 1610px #FFF , 419px 1503px #FFF , 1771px 74px #FFF , 595px 1459px #FFF , 289px 672px #FFF , 367px 1034px #FFF , 1437px 1707px #FFF , 1720px 428px #FFF , 1495px 1904px #FFF , 1956px 117px #FFF , 1686px 1611px #FFF , 911px 1891px #FFF , 1054px 1504px #FFF , 827px 1031px #FFF , 950px 382px #FFF , 740px 186px #FFF , 1848px 985px #FFF , 1449px 1823px #FFF , 269px 1209px #FFF , 46px 454px #FFF , 1647px 618px #FFF , 1248px 667px #FFF , 349px 1142px #FFF , 1270px 716px #FFF , 1018px 1949px #FFF , 1511px 713px #FFF , 1681px 1833px #FFF , 1401px 1806px #FFF , 1673px 808px #FFF , 1159px 779px #FFF , 873px 1898px #FFF , 320px 1032px #FFF , 1238px 1959px #FFF , 792px 1563px #FFF , 1907px 807px #FFF , 777px 1840px #FFF , 887px 285px #FFF , 1383px 1969px #FFF , 1277px 874px #FFF , 853px 192px #FFF , 1143px 36px #FFF , 1305px 1746px #FFF , 790px 532px #FFF , 1332px 1700px #FFF , 172px 814px #FFF , 611px 1790px #FFF , 500px 1716px #FFF , 19px 1961px #FFF , 1188px 317px #FFF , 67px 322px #FFF , 1718px 594px #FFF , 1874px 533px #FFF , 1087px 1729px #FFF , 845px 515px #FFF , 177px 458px #FFF , 733px 1574px #FFF , 1798px 1938px #FFF , 143px 765px #FFF , 21px 1097px #FFF , 472px 1260px #FFF , 867px 154px #FFF , 343px 1861px #FFF , 796px 1411px #FFF , 1285px 193px #FFF , 698px 840px #FFF , 1629px 1985px #FFF , 453px 485px #FFF , 795px 712px #FFF , 629px 569px #FFF , 1387px 968px #FFF , 1458px 88px #FFF , 1429px 1386px #FFF , 289px 549px #FFF , 591px 239px #FFF , 889px 572px #FFF , 1823px 470px #FFF , 768px 1267px #FFF , 1635px 898px #FFF , 786px 500px #FFF , 1754px 1906px #FFF , 1126px 1416px #FFF , 1209px 1326px #FFF , 818px 816px #FFF , 439px 264px #FFF , 1073px 865px #FFF , 1887px 1594px #FFF , 163px 239px #FFF , 272px 1170px #FFF , 629px 1133px #FFF , 1889px 1182px #FFF , 1231px 278px #FFF , 1344px 432px #FFF , 257px 1567px #FFF , 1064px 739px #FFF , 1204px 855px #FFF , 845px 532px #FFF , 1249px 222px #FFF , 362px 1785px #FFF , 729px 324px #FFF , 1866px 523px #FFF , 1365px 139px #FFF , 1657px 1840px #FFF , 1859px 499px #FFF , 376px 1181px #FFF , 1668px 1824px #FFF , 438px 441px #FFF , 1570px 417px #FFF , 665px 1011px #FFF , 534px 380px #FFF , 399px 1260px #FFF , 1999px 228px #FFF , 597px 542px #FFF , 716px 494px #FFF , 444px 145px #FFF , 1790px 1205px #FFF , 1782px 1696px #FFF , 989px 87px #FFF , 292px 1636px #FFF , 920px 278px #FFF , 1930px 1414px #FFF , 1785px 1130px #FFF , 1130px 1204px #FFF , 1598px 984px #FFF , 1355px 1423px #FFF , 1365px 1369px #FFF , 1359px 1357px #FFF , 1359px 413px #FFF , 1196px 1975px #FFF , 28px 312px #FFF , 1549px 760px #FFF , 563px 847px #FFF , 647px 1928px #FFF , 1205px 1506px #FFF , 1820px 485px #FFF , 657px 1945px #FFF , 788px 506px #FFF , 1468px 469px #FFF , 997px 1055px #FFF , 1684px 1633px #FFF , 1076px 1410px #FFF , 1758px 598px #FFF , 1824px 1513px #FFF , 1050px 880px #FFF , 184px 699px #FFF , 1820px 633px #FFF , 1385px 265px #FFF , 496px 1282px #FFF , 829px 1373px #FFF , 1953px 1570px #FFF , 1433px 871px #FFF , 341px 1849px #FFF , 64px 1804px #FFF , 835px 529px #FFF , 809px 479px #FFF , 802px 105px #FFF , 1881px 256px #FFF , 43px 207px #FFF , 1065px 13px #FFF , 377px 1150px #FFF , 1244px 1911px #FFF , 1832px 1125px #FFF , 1139px 1672px #FFF , 620px 322px #FFF , 626px 1387px #FFF , 1316px 1014px #FFF , 1835px 992px #FFF , 1091px 924px #FFF , 1722px 1048px #FFF , 746px 1096px #FFF , 1728px 1145px #FFF , 1231px 1080px #FFF , 504px 1615px #FFF , 324px 987px #FFF , 534px 114px #FFF , 620px 1783px #FFF , 1608px 993px #FFF , 1805px 776px #FFF , 1425px 264px #FFF , 137px 1374px #FFF , 552px 623px #FFF , 860px 1273px #FFF , 561px 522px #FFF , 560px 1673px #FFF , 758px 103px #FFF , 863px 1764px #FFF , 563px 1318px #FFF , 250px 1693px #FFF;
  animation: animStar 100s linear infinite;
}

/* line 57, ../sass/stars.scss */
#stars6 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 391px 370px #FFF , 287px 117px #FFF , 806px 359px #FFF , 1257px 247px #FFF , 1198px 246px #FFF , 573px 176px #FFF , 1714px 1337px #FFF , 224px 462px #FFF , 1099px 65px #FFF , 205px 323px #FFF , 1981px 1446px #FFF , 1160px 243px #FFF , 1297px 1685px #FFF , 280px 769px #FFF , 142px 11px #FFF , 1002px 334px #FFF , 47px 1928px #FFF , 1984px 941px #FFF , 1565px 610px #FFF , 1296px 1506px #FFF , 565px 1057px #FFF , 1461px 772px #FFF , 1608px 1978px #FFF , 1943px 846px #FFF , 1292px 1286px #FFF , 1395px 1882px #FFF , 1089px 724px #FFF , 261px 1119px #FFF , 1638px 21px #FFF , 761px 1927px #FFF , 1542px 970px #FFF , 1275px 1077px #FFF , 1210px 165px #FFF , 81px 1659px #FFF , 947px 1518px #FFF , 770px 196px #FFF , 492px 686px #FFF , 898px 847px #FFF , 282px 660px #FFF , 659px 1866px #FFF , 365px 1350px #FFF , 643px 995px #FFF , 1207px 553px #FFF , 1448px 1556px #FFF , 1617px 1409px #FFF , 1963px 931px #FFF , 787px 537px #FFF , 1024px 798px #FFF , 1755px 61px #FFF , 222px 552px #FFF , 117px 1168px #FFF , 1255px 793px #FFF , 1243px 1455px #FFF , 596px 869px #FFF , 1878px 1271px #FFF , 1546px 1996px #FFF , 841px 1032px #FFF , 377px 1522px #FFF , 1476px 235px #FFF , 458px 1438px #FFF , 1397px 996px #FFF , 1873px 1860px #FFF , 365px 832px #FFF , 1624px 907px #FFF , 544px 684px #FFF , 25px 690px #FFF , 1915px 842px #FFF , 1812px 798px #FFF , 1764px 429px #FFF , 1716px 1219px #FFF , 1263px 889px #FFF , 1972px 1932px #FFF , 1575px 324px #FFF , 1046px 827px #FFF , 1801px 1189px #FFF , 1453px 1241px #FFF , 441px 899px #FFF , 113px 834px #FFF , 908px 1807px #FFF , 433px 851px #FFF , 1351px 1570px #FFF , 1852px 280px #FFF , 1792px 1029px #FFF , 1060px 688px #FFF , 542px 149px #FFF , 1292px 528px #FFF , 1440px 414px #FFF , 1289px 615px #FFF , 484px 1196px #FFF , 1293px 994px #FFF , 272px 816px #FFF , 1220px 538px #FFF , 49px 1698px #FFF , 1012px 343px #FFF , 1067px 551px #FFF , 1988px 312px #FFF , 1989px 1885px #FFF , 1124px 841px #FFF , 63px 1223px #FFF , 1493px 1747px #FFF;
  animation: animStar 150s linear infinite;
}

.se-section.bg.footer .white-color.main-heading {
  font-family: 'Dosis', sans-serif;
  font-size:35px;
}

.dark-logo {
  display:none;
}

#navbar .active {
    background: #4aa3df;
}

.dropdown-menu, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .nav>li:not(.nav-btn-wrap):focus, .nav>li:not(.nav-btn-wrap):hover, .nav>li>a:focus, .nav>li>a:hover {
  background: #4aa3df;
}

.btn.btn-rounded.signin {
  color:white;
}

.body-scrolled .navbar .btn.btn-rounded.signin {
  color:#2b2c2d;
}

.body-scrolled .navbar .nav>li:focus>a, .body-scrolled .navbar .nav>li:hover>a {
  background:#4aa3df;
}

.bg.footer .btn.se-btn {
  background:transparent;
  border:1px solid white;
}

.bg.footer .btn.se-btn:hover {
  background:white;
  transition: all .4s ease-in-out;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    color:white;
    -webkit-text-fill-color: white !important;
}

.navbar-toggle{
	background-color: transparent;
	border: 1px solid white;
	padding: 12px 10px;
}

.navbar-toggle .icon-bar {
  background: lightgrey;
	height: 1px;
}

/*i phone 6 plus*/

@media only screen and (max-width: 414px) {

	section#pricing.se-section{
		padding-left: 15px;
		padding-right: 15px;
	}

	h1.white-color.main-heading{
		padding: 20px;
	}

	.subscribe{
		width: 60%;
	}

	input.subscribe-email{
		width: 90%;
		padding: 0px;
	}

	.subscribe-submit{
		width: 80px;
		right: 0px;
	}

	.se-section.se-steps, .se-section.single-feature {
		padding: 50px;
	}

	.single-feature .feature-desc h2{
		width: 100%;
	}

	.se-section.features-section {
		padding: 30px;
	}

	.se-section.features-section.parallax-bg{
		padding: 0px 30px;
	}

	.se-section#pricing {
		padding:40px;
	}

	.se-section .se-plan.basic {
		bottom:30px;
		position:relative;
	}

	.se-section.features-section.parallax-bg .icon {
		position:relative;
		bottom:12px;
	}

	.black-gradient {
		padding: 1.5em 0;
	}

	.se-feature-style-2 .left {
		padding-top: 10px;
	}

	#laptop img, #dashboard-screen img {
		max-width: 70%;
		position: relative;
		left:15%;
	}

	.img-responsive.phone{
		position: relative;
		width: 70%;
		left:25%;
	}

	.se-section.bg.footer{
		padding-right: 50px;
		padding-left: 50px;
	}

}

/*i phone 6*/

@media only screen and (max-width: 375px){

	.subscribe{
		width: 70%;
	}

	input.subscribe-email{
		width: 80%;
		padding: 0px;
	}

}

/*i phone 5*/

@media only screen and (max-width: 320px){

	.subscribe-submit{
		width: 70px;
		right: -5px;
	}

	a.learn-more{
		display: block;
	}

}
