/*background anmimation*/

* {
	-webkit-font-smoothing: antialiased;
	 text-rendering: optimizeLegibility;
	
}

.bg {
	/*Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(left, #a763c1, #2f6af2, #848c9d);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(left, #a763c1, #2f8af2);

	/* IE 10 */
	background: -ms-linear-gradient(left, #a763c1, #2f8af2);

	/* Opera 11.10+ */
	background: -o-linear-gradient(left, #a763c1, #2f8af2);

  width: 100%;
  height: 87vh;
  background-size: cover;
  background-blend-mode: hard-light;
  -webkit-animation: hue-animate 30s linear infinite;
          animation: hue-animate 30s linear infinite;
}

@-webkit-keyframes hue-animate {
  from {
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes hue-animate {
  from {
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

.main-header .main-heading {
font-family: 'Dosis', sans-serif;
font-weight: 200;
}

.main-header .main-heading h1 {
	margin: 0;
  font-size:80px;
}

.main-header .main-heading h3 {
  font-size:50px;
}

#name {
/*  position: relative;
    top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);*/
  /*transform: translateY(-50%);*/
  font-family: 'Open Sans Condensed', sans-serif;
  text-align:center;
  font-size: 68px;
  text-transform: uppercase;
}

.navbar-toggle{
	backround: transparent;
}

.tag-line{
  text-align: center;
}

/* submit styles*/

input {
  font-weight: 100;
}

.subscribe {
  position: relative;
  padding: 10px 15px;
  height: 70px;
  /*background-color: rgba(0, 0, 0, .6);*/
  -webkit-transition: -webkit-transform .5s;
  transition: transform .5s;
  width:50%;
  margin:0 auto;
  top:70px;
}

.ready .subscribe {
  -webkit-transform: none;
  transform: none;
}

.subscribe-email {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 28px;
  color: black;
}

.subscribe-email::-webkit-input-placeholder {
  color: #cecece;
  -webkit-transition: opacity .5s, -webkit-transform .5s;
  transition: opacity .5s, transform .5s;
}

.subscribe-email::-moz-placeholder {
  color: #cecece;
  -moz-transition: opacity .5s, -webkit-transform .5s;
}

.subscribe-email:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transform: translate3d(20%, 0, 0) scale(1.5);
  transform: translate3d(20%, 0, 0) scale(1.5);
}

.subscribe-email:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transform: translate3d(20%, 0, 0) scale(1.5);
  transform: translate3d(20%, 0, 0) scale(1.5);
}

.subscribe-submit {
  position: absolute;
  border: none;
  top: 10px;
  right: 10px;
  bottom: 10px;
  padding: 0;
  width: 140px;
  background: #45bb2f;
  font-family: 'Helvetica Neue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: 100;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
}

input[type=submit] {
  margin:0;
}

input:not([type]), input[type=password], input[type=color], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=number], input[type=search], input[type=tel], input[type=time], input[type=url], input[type=week], input[type=text], input[type=email], textarea {
    border: 1px solid #ececec;
    background: #fff;
    padding: .618em 1em;
    font-family: "Helvetice Neue",sans-serif;
    box-shadow: none;
    min-height: 40px;
    width: 100%;
}
.subscribe-email:focus ~ .subscribe-submit {
  -webkit-transform: none;
  transform: none;
}

@-webkit-keyframes magnify {
  10% {
    -webkit-transform: scale(1.15) translateZ(0);
  }
  
  20% {
    -webkit-transform: none;
  }
}

.secondRow {
  margin-top:80px;
}

.img-responsive.phone {
  max-width: 105%;
  position: absolute;
  top: -25px;
}

.img-responsive.comp {
  max-width: 110%;
  position: absolute;
  top: -32px;
}

section.parallax-bg {
    background-color: #f9f9f9;
    color: black;
}

section.parallax-bg .black-gradient {
  background-color: #f9f9f9;
  color:black !important;
}
section.parallax-bg .black-gradient h1 {
  color:black !important;
}
section.parallax-bg .black-gradient h2 {
  color:black !important;
}
section.parallax-bg .black-gradient h3 {
  color:black !important;
}
section.parallax-bg .black-gradient h4 {
  color:black !important;
}
section.parallax-bg .black-gradient h5 {
  color:black !important;
}
section.parallax-bg .black-gradient h6 {
  color:black !important;
}
section.parallax-bg .black-gradient p {
  color:black !important;
}

.se-section.offer-section.gray-section h4 {
  margin-bottom:25px;
}

.offer-section {
    padding: 0px;
}

footer {
  padding:0px;
}

footer .footer-bottom {
    border-top: 0px dashed #ececec;
}

/*.body-scrolled .navbar .navbar-nav>li>a:focus {
  color:#2b2c2d;
  background:#fff;
}*/

#navbar .active {
    background: #217dbb;
}

#navbar .active a {
    color:white;
}


















